<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %>

<h1 style="font-family: 'Creepster', cursive; text-align: center; font-size: 50px;">User Account page</h1>

<h2>this is working too</h2>




<%- include('../partials/footer.ejs') %>