<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&display=swap" rel="stylesheet">
    <title>Cryptid Tracker Database</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
   <header>
     <div id="opaque">
    <h1 id='header-title'>CRYPTID TRACKER DATABASE</h1>
    <p id='header-text'>Database for the unexplained.</p>
    </div>
  </header>

  <body>