<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<!-- <h1 class='main-title'>Welcome to the Cryptid Tracker</h1>
<p class='main-text' style='text-align: center;'>Database for the unexplained.</p> -->

<div>
    <img class = 'background-image' src="https://i2.wp.com/strangematterspodcast.com/wp-content/uploads/2017/10/Deadmans_Island_191-e1507128230196.jpg?resize=900%2C576&ssl=1" alt="" srcset="">
</div>

<p id='main-text'>cryp·​tid | \ ˈkrip-təd  : <br>
an animal (such as Sasquatch or the Loch Ness Monster) that has been claimed to exist but never proven to exist </p>

<p id='main-paragraph'>Welcome to the Database for the unexplained, keeping track of cryptid sightings and share stories with experiences. Create a profile and join the community or just keep tabs on what is lurking around your area....</p>

<%- include('./partials/footer.ejs') %>